<div class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <a href="#" class="footer__logo">
                    <img src="img/icon/logo.svg" alt="">
                </a>
                <div class="footer__text">
                    <p>
                        г. Москва, пл. Тверская застава д. 3, 4 этаж, оф. 410
                        <br>
                        Копирование информации с сайта и ее размещение возможно только с ссылкой на данный ресурс.
                    </p>
                </div>
                <div class="footer__socials">
                    <a href="#">
                        <img loading="lazy" src="img/icon/vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/instagram.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/facebook.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <p>
                    Языковые курсы «Диалог» © 2005 - 2025
                </p>
            </div>
        </div>
    </div>
</div>