<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro">
				<img src="img/bg1.webp" alt="" class="block-intro__bg1">
				<div class="container">
					<div class="block-intro__content">
						<div class="block-intro__image">
							<img src="img/image1.webp" alt="">
						</div>
						<img src="img/image21.webp" alt="" class="block-intro__pic3">
						<div class="block-intro__body">
							<img src="img/image2.webp" alt="" class="block-intro__pic1">
							<img src="img/image19.webp" alt="" class="block-intro__pic2">
							<p>
								Дарим вам лучшие цены на обучение, которое уже помогло более 30 000 участникам полюбить
								обучение Турецкому и увидеть реальный
								прогресс в знаниях!
							</p>
							<div class="time-count">
								<img src="img/image3.webp" alt="" class="time-count__pic3">
								<div class="time-count__title">Только до 1 сентября!</div>
								<div class="time-count__content">
									<div class="time-count__item time-count__days">
										<div class="time-count__val">00</div>
										<div class="time-count__text">дни</div>
									</div>
									<div class="time-count__sep">:</div>
									<div class="time-count__item time-count__hours">
										<div class="time-count__val ">00</div>
										<div class="time-count__text">часы</div>
									</div>
									<div class="time-count__sep">:</div>
									<div class="time-count__item time-count__minutes">
										<div class="time-count__val">00</div>
										<div class="time-count__text">минуты</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-intro__image-mob">
						<img src="img/bg-mob.webp" alt="" class="block-intro__bg-mob">
						<img src="img/image21.webp" alt="" class="block-intro__pic2-mob">
						<img src="img/image1.webp" alt="" class="block-intro__pic1-mob">
						<a href="#" class="btn" data-popup="#popup1">Выбрать обучение</a>
					</div>
				</div>
			</div>

			<div class="block-packages">
				<img loading="lazy" src="img/bg3.webp" alt="" class="block-packages__bg2">
				<div class="block-packages__top">
					<img loading="lazy" src="img/bg2.webp" alt="" class="block-packages__bg1">
					<h2 class="title2">
						Выбирайте формат и глубину обучения — у нас есть <span>пакеты для каждого,</span> кому интересен
						Турецкий
						язык
					</h2>
				</div>
				<div class="container">
					<div class="block-packages__body">
						<div class="block-packages__column">
							<div class="block-packages__item item-packages">
								<div class="item-packages__top">
									<div class="item-packages__title">
										Пакет «База Турецкого языка»
									</div>
									<div class="item-packages__subtitle">
										От первых слов до свободного общения — полный путь изучения турецкого в одном
										пакете.
									</div>
									<p>
										Вы получаете цельную систему обучения без пауз и сомнений, которая доведёт вас
										до уровня B2 и даст возможность начать уверенно общаться в повседневной жизни.
									</p>
								</div>
								<div class="item-packages__content">
									<div class="item-packages__left">
										<img loading="lazy" src="img/image22.webp" alt="" class="item-packages__pic4">
										<img loading="lazy" src="img/image6.webp" alt="" class="item-packages__pic2">
										<img loading="lazy" src="img/image8.webp" alt="" class="item-packages__pic3">
									</div>
									<div class="item-packages__right">
										<div class="item-packages__list">
											<ul>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А2</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В2</span>
												</li>
											</ul>
										</div>
										<div class="item-packages__block">
											<p>
												Обычная стоимость курсов с доступом на 12 месяцев – 126 000 рублей
											</p>
											<div class="item-packages__block-image">
												<span>
													Сейчас для вас скидка 90% + ВЕЧНЫЙ ДОСТУП + специальный подарок
													ценностью 21 000 рублей!!
												</span>
											</div>
										</div>
										<div class="item-packages__prices">
											<div class="item-packages__price-title">Стоимость доступа</div>
											<div class="item-packages__price">
												<img loading="lazy" src="img/image5.webp" alt="">
												<span>12 600 ₽</span>
											</div>
										</div>
									</div>
								</div>
								<a href="#" class="btn" data-popup="#popup2">Забрать пакет!</a>
							</div>
						</div>
						<div class="block-packages__column">
							<div class="block-packages__item item-packages">
								<div class="item-packages__top">
									<div class="item-packages__title">
										Пакет «Комплексный Турецкий»
									</div>
									<div class="item-packages__subtitle">
										Полная система самостоятельного изучения турецкого — от базовых A1-A2 до
										продвинутых грамматических навыков B1-B2, плюс 16 дополнительных курсов для
										отработки произношения, аудирования и пополнения словаря.
									</div>
									<p>
										Учитесь в своём темпе, когда удобно, и получите официальный сертификат о
										завершении полного курса турецкого языка.
									</p>
								</div>
								<div class="item-packages__content">
									<div class="item-packages__left">
										<img loading="lazy" src="img/image2.webp" alt="" class="item-packages__pic4">
										<img loading="lazy" src="img/image6.webp" alt="" class="item-packages__pic2">
										<img loading="lazy" src="img/image10.webp" alt="" class="item-packages__pic3">
									</div>
									<div class="item-packages__right">
										<div class="item-packages__list">
											<ul>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А2</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В2</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check2.svg" alt="">
													</div>
													<span>
														16 курсов на развитие навыков говорения, восприятия на слух,
														пополнения словарного запаса
													</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Сертификат о прохождении курса</span>
												</li>
											</ul>
										</div>
										<div class="item-packages__block">
											<p>
												Обычная стоимость курсов с доступом на 12 месяцев – 172 000 рублей
											</p>
											<div class="item-packages__block-image">
												<span>
													Сейчас для вас скидка 92% + ВЕЧНЫЙ ДОСТУП + специальный подарок
													ценностью 21 000 рублей!!
												</span>
											</div>
										</div>
										<div class="item-packages__prices">
											<div class="item-packages__price-title">Стоимость доступа</div>
											<div class="item-packages__price">
												<img loading="lazy" src="img/image5.webp" alt="">
												<span>15 400 ₽</span>
											</div>
										</div>
									</div>
								</div>
								<a href="#" class="btn" data-popup="#popup3">Забрать пакет!</a>
							</div>
						</div>
						<div class="block-packages__column red">
							<div class="block-packages__item item-packages">
								<div class="item-packages__top">
									<div class="item-packages__title">
										Пакет «Турецкий: все включено»
									</div>
									<div class="item-packages__subtitle">Пакет обучения, где вы изучаете язык в своём
										темпе, но при этом получаете живое общение и помощь экспертов — идеальное
										сочетание самостоятельности и поддержки!
									</div>
								</div>
								<div class="item-packages__content">
									<div class="item-packages__left">
										<img loading="lazy" src="img/image22.webp" alt="" class="item-packages__pic4">
										<img loading="lazy" src="img/image6.webp" alt="" class="item-packages__pic2">
										<img loading="lazy" src="img/image9.webp" alt="" class="item-packages__pic3">
									</div>
									<div class="item-packages__right">
										<div class="item-packages__list">
											<ul>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень А2</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В1</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Комплексный курс “Простой турецкий”, уровень В2</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check2.svg" alt="">
													</div>
													<span>
														16 курсов на развитие навыков говорения, восприятия на слух,
														пополнения словарного запаса
													</span>
												</li>
											</ul>
											<ul>
												<li>
													<div class="item-packages__list-title">
														Также в пакете поддержка и практика
													</div>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>
														Разговорный клуб – занятия онлайн в групе по 90 минут –
														возможность заговорить в 2 раза быстрее
													</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>
														Закрытый Телеграм чат с кураторами и другими учениками
													</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Поддержка куратора – ответы на вопросы и мотивация</span>
												</li>
												<li>
													<div class="item-packages__icon">
														<img loading="lazy" src="img/icon/check.svg" alt="">
													</div>
													<span>Сертификат о прохождении курса</span>
												</li>
											</ul>
										</div>
										<div class="item-packages__block">
											<p>
												Обычная стоимость курсов с доступом на 12 месяцев – 199 000 рублей
											</p>
											<div class="item-packages__block-image">
												<span>
													Сейчас для вас скидка 90% + ВЕЧНЫЙ ДОСТУП + специальный подарок
													ценностью 21 000 рублей!
												</span>
											</div>
										</div>
										<div class="item-packages__prices">
											<div class="item-packages__price-title">Стоимость доступа</div>
											<div class="item-packages__price">
												<img loading="lazy" src="img/image5.webp" alt="">
												<span>19 900 ₽</span>
											</div>
										</div>
									</div>
								</div>
								<a href="#" class="btn" data-popup="#popup4">Забрать пакет!</a>
							</div>
						</div>
					</div>
					<div class="present-packages">
						<div class="present-packages__title">
							И это еще не все!
						</div>
						<div class="present-packages__content">
							<div class="present-packages__item">
								<h2 class="title3">
									Оплачивая доступ сейчас, вы получаете дополнительные инструменты для быстрого и
									веселого изучения языка!
								</h2>
								<ul>
									<li>
										<img loading="lazy" src="img/icon/cake.svg" alt="">
										<div class="present-packages__text">
											<span>Курс «Турецкий-экспресс»</span> – быстрый курс для освежения и
											систематизации
											знаний.”
										</div>
									</li>
									<li>
										<img loading="lazy" src="img/icon/cake.svg" alt="">
										<div class="present-packages__text">
											<span>Курс «Турецкий по сериалам»</span> – самый увлекательней способ
											изучать язык!
										</div>
									</li>
									<li>
										<img loading="lazy" src="img/icon/cake.svg" alt="">
										<div class="present-packages__text">
											<span>Глагольный тренажер</span> – возможность быстро получить самый главный
											навык для
											свободного владения языком.
										</div>
									</li>
									<li>
										<img loading="lazy" src="img/icon/cake.svg" alt="">
										<div class="present-packages__text">
											<span>Более 30 записей обучающих вебинаров</span> (постоянно пополняется!) –
											получайте
											свежие и интересные материалы, которые мотивируют и сделают обучение
											интересным.
										</div>
									</li>
								</ul>
								<img loading="lazy" src="img/image11.webp" alt="" class="present-packages__pic1">
								<div class="present-packages__bottom">
									<p>
										Обычная стоимость курсов с доступом на 12 месяцев – 21 000 рублей
									</p>
									<p>
										<span>
											Для вас при покупке любого пакета сейчас — БЕСПЛАТНО!
										</span>
									</p>
								</div>
								<a href="#" class="btn">Забрать подарок</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="block-platform">
				<div class="container">
					<div class="block-platform__content">
						<div class="block-platform__body">
							<div class="block-platform__top">
								<h2 class="title2">
									Все курсы ждут вас
									<span>на интерактивной платформе,</span> которая поможет ускорить обучение!
								</h2>
								<p>
									Учите турецкий в удобном режиме все уроки в записи, занимайтесь когда и где удобно
								</p>
							</div>
							<ul>
								<li>
									<div class="block-platform__text">
										Удобный личный кабинет, где легко найти нужный курс.
									</div>
								</li>
								<li>
									<div class="block-platform__text">
										Итоговые тесты после каждого модуля для самопроверки, чтобы точно усвоить
										все знания.
									</div>
								</li>
								<li>
									<div class="block-platform__text">
										Статистика прогресса – трекер и наглядная динамика достижений.
									</div>
								</li>
							</ul>
							<img loading="lazy" src="img/image14.webp" alt="" class="block-platform__pic1">
							<img loading="lazy" src="img/image15.webp" alt="" class="block-platform__pic2">
						</div>
					</div>
				</div>
			</div>

			<div class="block-reviews">
				<div class="container">
					<h2 class="title2">
						Отзывы наших учеников
					</h2>
					<div class="block-reviews__content">
						<div class="block-reviews__slider swiper">
							<div class="block-reviews__wrapper swiper-wrapper">
								<div class="block-reviews__slide swiper-slide">
									<img loading="lazy" src="img/image12.webp" alt="" class="block-reviews__image">
									<img loading="lazy" src="img/image24.webp" alt="" class="block-reviews__image-mob">
									<div class="block-reviews__body">
										<div class="block-reviews__top">
											<div class="block-reviews__left">
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														От кого
													</div>
													<span>
														Юлия
														<div class="block-reviews__reviews">
															06.01.2025 на <a href="#">Яндекс</a>
														</div>
													</span>
												</div>
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														Кому
													</div>
													<span>Tomer.ru</span>
												</div>
											</div>
											<div class="block-reviews__right">
												<div class="block-reviews__reviews">
													06.01.2025 на <a href="#">Яндекс</a>
												</div>
												<img loading="lazy" src="img/image13.webp" alt=""
													class="block-reviews__pic">
											</div>
										</div>
										<p>
											Я живу в Турции и раньше у меня был только базовый уровень турецкого,
											которого явно не хватало. Но после занятий на этой программе я стала
											говорить намного свободнее и увереннее. Теперь могу легко общаться в
											повседневных ситуациях и чувствую себя гораздо комфортнее!
										</p>
									</div>
								</div>
								<div class="block-reviews__slide swiper-slide">
									<img loading="lazy" src="img/image12.webp" alt="" class="block-reviews__image">
									<img loading="lazy" src="img/image24.webp" alt="" class="block-reviews__image-mob">
									<div class="block-reviews__body">
										<div class="block-reviews__top">
											<div class="block-reviews__left">
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														От кого
													</div>
													<span>
														Мария М.
														<div class="block-reviews__reviews">
															23.03.2025 на <a href="#">Яндекс</a>
														</div>
													</span>
												</div>
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														Кому
													</div>
													<span>Tomer.ru</span>
												</div>
											</div>
											<div class="block-reviews__right">
												<div class="block-reviews__reviews">
													23.03.2025 на <a href="#">Яндекс</a>
												</div>
												<img loading="lazy" src="img/image13.webp" alt=""
													class="block-reviews__pic">
											</div>
										</div>
										<p>
											Когда я вышла замуж за турка, я мечтала говорить с его семьёй на одном
											языке, но страх и неуверенность мешали мне. Я боялась, что мои ошибки будут
											смешными или обидят кого-то. Но с "Диалогом" я научилась не только
											грамматике, но и живому разговорному языку, который используют в семье и
											среди друзей. Теперь я чувствую себя не просто гостем, а частью большой и
											тёплой турецкой семьи. Это бесценно!
										</p>
									</div>
								</div>
								<div class="block-reviews__slide swiper-slide">
									<img loading="lazy" src="img/image12.webp" alt="" class="block-reviews__image">
									<img loading="lazy" src="img/image24.webp" alt="" class="block-reviews__image-mob">
									<div class="block-reviews__body">
										<div class="block-reviews__top">
											<div class="block-reviews__left">
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														От кого
													</div>
													<span>
														Олеся М.
														<div class="block-reviews__reviews">
															28.02.2025 на <a href="#">Яндекс</a>
														</div>
													</span>
												</div>
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														Кому
													</div>
													<span>Tomer.ru</span>
												</div>
											</div>
											<div class="block-reviews__right">
												<div class="block-reviews__reviews">
													28.02.2025 на <a href="#">Яндекс</a>
												</div>
												<img loading="lazy" src="img/image13.webp" alt=""
													class="block-reviews__pic">
											</div>
										</div>
										<p>
											Раньше боялась турецкого, теперь люблю его! Модули простые, понятные и очень
											мотивируют. Учиться с вами — одно удовольствие!
										</p>
									</div>
								</div>
								<div class="block-reviews__slide swiper-slide">
									<img loading="lazy" src="img/image12.webp" alt="" class="block-reviews__image">
									<img loading="lazy" src="img/image24.webp" alt="" class="block-reviews__image-mob">
									<div class="block-reviews__body">
										<div class="block-reviews__top">
											<div class="block-reviews__left">
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														От кого
													</div>
													<span>
														Татьяна Павлова
														<div class="block-reviews__reviews">
															28.05.2025 на <a href="#">Яндекс</a>
														</div>
													</span>
												</div>
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														Кому
													</div>
													<span>Tomer.ru</span>
												</div>
											</div>
											<div class="block-reviews__right">
												<div class="block-reviews__reviews">
													28.05.2025 на <a href="#">Яндекс</a>
												</div>
												<img loading="lazy" src="img/image13.webp" alt=""
													class="block-reviews__pic">
											</div>
										</div>
										<p>
											Раньше турецкий казался мне слишком сложным, но на программе «Турецкий: все
											включено» всё стало понятнее. Сложные темы разбивают на простые шаги,
											занятия интересные и структурированные. Я вижу прогресс и теперь с радостью
											учу язык, даже начинаю думать по-турецки!
										</p>
									</div>
								</div>
								<div class="block-reviews__slide swiper-slide">
									<img loading="lazy" src="img/image12.webp" alt="" class="block-reviews__image">
									<img loading="lazy" src="img/image24.webp" alt="" class="block-reviews__image-mob">
									<div class="block-reviews__body">
										<div class="block-reviews__top">
											<div class="block-reviews__left">
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														От кого
													</div>
													<span>
														Вячеслав Р.
														<div class="block-reviews__reviews">
															03.01.2025 на <a href="#">Яндекс</a>
														</div>
													</span>
												</div>
												<div class="block-reviews__title">
													<div class="block-reviews__text">
														Кому
													</div>
													<span>Tomer.ru</span>
												</div>
											</div>
											<div class="block-reviews__right">
												<div class="block-reviews__reviews">
													03.01.2025 на <a href="#">Яндекс</a>
												</div>
												<img loading="lazy" src="img/image13.webp" alt=""
													class="block-reviews__pic">
											</div>
										</div>
										<p>
											Думал, турецкий — это сложно и скучно. Но этот курс перевернул моё мнение!
											Кратко, ясно и с душой. За пару месяцев я заговорил — и это реально
											вдохновляет! Рекомендую всем, кто хочет быстро и без стресса.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="block-reviews__arrow-prev">
							<img loading="lazy" src="img/icon/arrow.svg" alt="">
						</div>
						<div class="block-reviews__arrow-next">
							<img loading="lazy" src="img/icon/arrow.svg" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="block-warranty">
				<div class="container">
					<h2 class="title2">
						Возможность дополнительной экономии и дополнительной рассрочки!
					</h2>
					<div class="block-warranty__content">
						<div class="block-warranty__body">
							<div class="block-warranty__column">
								<div class="block-warranty__image">
									<img loading="lazy" src="img/image16.webp" alt="">
								</div>
								<div class="block-warranty__title">
									Учитесь сейчас, платите потом
								</div>
								<div class="block-warranty__subtitle">
									Разделим оплату на комфортные платежи, чтобы оплата была легкой и приятной
								</div>
							</div>
							<div class="block-warranty__column">
								<div class="block-warranty__image">
									<img loading="lazy" src="img/image17.webp" alt="">
								</div>
								<div class="block-warranty__title">
									Верните 13% от стоимости обучения
								</div>
								<div class="block-warranty__subtitle">
									Поможем оформить документы, чтобы получить налоговый вычет
								</div>
							</div>
						</div>
						<a href="#" class="btn">Начать обучение</a>
					</div>
				</div>
			</div>

			<div class="block-benefits">
				<div class="container">
					<div class="block-benefits__content">
						<div class="block-benefits__title">
							<span>Сомневаетесь?</span>
							Начинайте сейчас и получите ВСЕ выгоды!
						</div>
						<div class="block-benefits__body">
							<div class="block-benefits__column">
								<p>
									<span>Максимальная экономия — скидки до 92% только до 1 сентября.</span> После акции
									цены
									вернутся к обычным. Сэкономьте десятки тысяч рублей и получите вечный доступ вместо
									ограниченного по времени.
								</p>
							</div>
							<div class="block-benefits__column">
								<p>
									<span>Самое удачное время для старта.</span> Осень — идеальное время начать изучение
									языка.
									Летний отдых закончился, появилось время для саморазвития, а до новогодних
									праздников достаточно времени, чтобы увидеть серьёзный прогресс.
								</p>
							</div>
							<div class="block-benefits__column">
								<p>
									<span>Поддержка сообщества на пике активности.</span> Множество студентов начинают
									обучение
									вместе с вами. В чатах и разговорных клубах максимальная активность — больше
									общения, больше практики, больше мотивации.
								</p>
							</div>
							<div class="block-benefits__column">
								<p>
									<span>Бесплатные подарки только сейчас!</span> 4 дополнительных курса стоимостью 21
									000 рублей вы
									получите бесплатно только при покупке в период акции. После 1 сентября их нужно
									будет покупать отдельно.
								</p>
							</div>
						</div>
						<a href="#" class="btn">Начать обучение</a>
					</div>
				</div>
			</div>

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	<div id="popup1" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div data-close class="popup__close">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.4813 13.1402C13.7764 11.4098 12.0715 9.70492 10.3665 8C12.0715 6.29508 13.7764 4.59016 15.5067 2.85979C17.0335 1.33299 14.667 -1.03354 13.1402 0.493255C11.4098 2.22362 9.70492 3.92855 8 5.63347C6.29508 3.92855 4.59016 2.22362 2.85979 0.518702C1.33299 -1.00809 -1.03354 1.35844 0.493255 2.88523C2.22362 4.59016 3.92855 6.29508 5.63347 8C3.92855 9.70492 2.22362 11.4098 0.518702 13.1402C-1.00809 14.667 1.35844 17.0335 2.88523 15.5067C4.59016 13.7764 6.29508 12.0715 8 10.3665C9.70492 12.0715 11.4098 13.7764 13.1402 15.5067C14.6416 17.0081 17.0081 14.6416 15.4813 13.1402Z"
							fill="#23283B" />
					</svg>
				</div>
				<div class="popup__body">
					<div class="popup__left left-popup">
						<img loading="lazy" src="img/bg-mob.webp" alt="" class="left-popup__bg">
						<img loading="lazy" src="img/image1.webp" alt="" class="left-popup__pic">
					</div>
					<form action="#" class="popup__right right-popup">
						<div class="right-popup__titles">
							<div class="right-popup__title">Подача заявки</div>
							<div class="right-popup__subtitle">Оставьте свои контактные данные и наш менеджер свяжется с
								Вами в ближайшее время</div>
						</div>
						<div class="right-popup__inputs">
							<div class="right-popup__input">
								<label for="name">Ваше имя и фамилия</label>
								<input id="name" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Ваше имя и фамилия">
							</div>
							<div class="right-popup__input">
								<label for="tel">Ваш телефон/whatsapp</label>
								<input data-required id="tel" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Телефон/Whatsapp">
							</div>
							<div class="right-popup__input">
								<label for="email">Ваш e-mail</label>
								<input data-required id="email" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="E-mail">
							</div>
						</div>
						<div class="checkbox">
							<input id="c_1" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
								name="form[]">
							<label for="c_1" class="checkbox__label">
								<span class="checkbox__icon"></span>
								<span class="checkbox__text">Соглашаюсь на обработку моих персональных данных в
									соответствии с <a href="#">условиями</a>, а также соглашаюсь с
									<a href="#">договором-офертой</a></span>
							</label>
						</div>
						<button type="submit" class="btn">Подать заявку</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="popup2" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div data-close class="popup__close">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.4813 13.1402C13.7764 11.4098 12.0715 9.70492 10.3665 8C12.0715 6.29508 13.7764 4.59016 15.5067 2.85979C17.0335 1.33299 14.667 -1.03354 13.1402 0.493255C11.4098 2.22362 9.70492 3.92855 8 5.63347C6.29508 3.92855 4.59016 2.22362 2.85979 0.518702C1.33299 -1.00809 -1.03354 1.35844 0.493255 2.88523C2.22362 4.59016 3.92855 6.29508 5.63347 8C3.92855 9.70492 2.22362 11.4098 0.518702 13.1402C-1.00809 14.667 1.35844 17.0335 2.88523 15.5067C4.59016 13.7764 6.29508 12.0715 8 10.3665C9.70492 12.0715 11.4098 13.7764 13.1402 15.5067C14.6416 17.0081 17.0081 14.6416 15.4813 13.1402Z"
							fill="#23283B" />
					</svg>
				</div>
				<div class="popup__body">
					<div class="popup__left left-popup">
						<div class="left-popup__titles">
							<div class="left-popup__title">
								Пакет<br> «База Турецкого языка»
							</div>
							<div class="left-popup__subtitle">
								12 600 руб.
							</div>
						</div>
						<img loading="lazy" src="img/image8.webp" alt="">
					</div>
					<form action="#" class="popup__right right-popup">
						<div class="right-popup__titles">
							<div class="right-popup__title">Подача заявки</div>
							<div class="right-popup__subtitle">Оставьте свои контактные данные и наш менеджер свяжется с
								Вами в ближайшее время</div>
							<div class="right-popup__price">12 600 руб.</div>
						</div>
						<div class="right-popup__inputs">
							<div class="right-popup__input">
								<label for="name">Ваше имя и фамилия</label>
								<input id="name" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Ваше имя и фамилия">
							</div>
							<div class="right-popup__input">
								<label for="tel">Ваш телефон/whatsapp</label>
								<input data-required id="tel" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Телефон/Whatsapp">
							</div>
							<div class="right-popup__input">
								<label for="email">Ваш e-mail</label>
								<input data-required id="email" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="E-mail">
							</div>
						</div>
						<div class="checkbox">
							<input id="c_1" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
								name="form[]">
							<label for="c_1" class="checkbox__label">
								<span class="checkbox__icon"></span>
								<span class="checkbox__text">Соглашаюсь на обработку моих персональных данных в
									соответствии с <a href="#">условиями</a>, а также соглашаюсь с
									<a href="#">договором-офертой</a></span>
							</label>
						</div>
						<button type="submit" class="btn">Подать заявку</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="popup3" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div data-close class="popup__close">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.4813 13.1402C13.7764 11.4098 12.0715 9.70492 10.3665 8C12.0715 6.29508 13.7764 4.59016 15.5067 2.85979C17.0335 1.33299 14.667 -1.03354 13.1402 0.493255C11.4098 2.22362 9.70492 3.92855 8 5.63347C6.29508 3.92855 4.59016 2.22362 2.85979 0.518702C1.33299 -1.00809 -1.03354 1.35844 0.493255 2.88523C2.22362 4.59016 3.92855 6.29508 5.63347 8C3.92855 9.70492 2.22362 11.4098 0.518702 13.1402C-1.00809 14.667 1.35844 17.0335 2.88523 15.5067C4.59016 13.7764 6.29508 12.0715 8 10.3665C9.70492 12.0715 11.4098 13.7764 13.1402 15.5067C14.6416 17.0081 17.0081 14.6416 15.4813 13.1402Z"
							fill="#23283B" />
					</svg>
				</div>
				<div class="popup__body">
					<div class="popup__left left-popup">
						<div class="left-popup__titles">
							<div class="left-popup__title">
								Пакет<br> «Комплексный Турецкий»
							</div>
							<div class="left-popup__subtitle">
								15 400 руб.
							</div>
						</div>
						<img loading="lazy" src="img/image10.webp" alt="">
					</div>
					<form action="#" class="popup__right right-popup">
						<div class="right-popup__titles">
							<div class="right-popup__title">Подача заявки</div>
							<div class="right-popup__subtitle">Оставьте свои контактные данные и наш менеджер свяжется с
								Вами в ближайшее время</div>
							<div class="right-popup__price">15 400 руб.</div>
						</div>
						<div class="right-popup__inputs">
							<div class="right-popup__input">
								<label for="name">Ваше имя и фамилия</label>
								<input id="name" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Ваше имя и фамилия">
							</div>
							<div class="right-popup__input">
								<label for="tel">Ваш телефон/whatsapp</label>
								<input data-required id="tel" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Телефон/Whatsapp">
							</div>
							<div class="right-popup__input">
								<label for="email">Ваш e-mail</label>
								<input data-required id="email" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="E-mail">
							</div>
						</div>
						<div class="checkbox">
							<input id="c_1" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
								name="form[]">
							<label for="c_1" class="checkbox__label">
								<span class="checkbox__icon"></span>
								<span class="checkbox__text">Соглашаюсь на обработку моих персональных данных в
									соответствии с <a href="#">условиями</a>, а также соглашаюсь с
									<a href="#">договором-офертой</a></span>
							</label>
						</div>
						<button type="submit" class="btn">Подать заявку</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="popup4" aria-hidden="true" class="popup">
		<div class="popup__wrapper">
			<div class="popup__content">
				<div data-close class="popup__close">
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.4813 13.1402C13.7764 11.4098 12.0715 9.70492 10.3665 8C12.0715 6.29508 13.7764 4.59016 15.5067 2.85979C17.0335 1.33299 14.667 -1.03354 13.1402 0.493255C11.4098 2.22362 9.70492 3.92855 8 5.63347C6.29508 3.92855 4.59016 2.22362 2.85979 0.518702C1.33299 -1.00809 -1.03354 1.35844 0.493255 2.88523C2.22362 4.59016 3.92855 6.29508 5.63347 8C3.92855 9.70492 2.22362 11.4098 0.518702 13.1402C-1.00809 14.667 1.35844 17.0335 2.88523 15.5067C4.59016 13.7764 6.29508 12.0715 8 10.3665C9.70492 12.0715 11.4098 13.7764 13.1402 15.5067C14.6416 17.0081 17.0081 14.6416 15.4813 13.1402Z"
							fill="#23283B" />
					</svg>
				</div>
				<div class="popup__body">
					<div class="popup__left left-popup">
						<div class="left-popup__titles">
							<div class="left-popup__title">
								Пакет<br>
								«Турецкий: все включено»
							</div>
							<div class="left-popup__subtitle">
								19 900 руб.
							</div>
						</div>
						<img loading="lazy" src="img/image25.webp" alt="">
					</div>
					<form action="#" class="popup__right right-popup">
						<div class="right-popup__titles">
							<div class="right-popup__title">Подача заявки</div>
							<div class="right-popup__subtitle">Оставьте свои контактные данные и наш менеджер свяжется с
								Вами в ближайшее время</div>
							<div class="right-popup__price">19 900 руб.</div>
						</div>
						<div class="right-popup__inputs">
							<div class="right-popup__input">
								<label for="name">Ваше имя и фамилия</label>
								<input id="name" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Ваше имя и фамилия">
							</div>
							<div class="right-popup__input">
								<label for="tel">Ваш телефон/whatsapp</label>
								<input data-required id="tel" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="Телефон/Whatsapp">
							</div>
							<div class="right-popup__input">
								<label for="email">Ваш e-mail</label>
								<input data-required id="email" autocomplete="off" type="text" name="form[]"
									data-error="Обязательное поле" placeholder="E-mail">
							</div>
						</div>
						<div class="checkbox">
							<input id="c_1" data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
								name="form[]">
							<label for="c_1" class="checkbox__label">
								<span class="checkbox__icon"></span>
								<span class="checkbox__text">Соглашаюсь на обработку моих персональных данных в
									соответствии с <a href="#">условиями</a>, а также соглашаюсь с
									<a href="#">договором-офертой</a></span>
							</label>
						</div>
						<button type="submit" class="btn">Подать заявку</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>