:root {
  --container-width: 1150px;
  --container-padding: 30px;
  --theme-color-accent: #e6514a;
  --theme-color-text-common: #00000a;

  --font-family: "Montserrat", sans-serif;
  --second-family: "DigitalNumbers", sans-serif;
  --third-family: "Digital7", sans-serif;
  --font3: "SegoePrint", sans-serif;
}
